flow_02192019.json
[
    {
        "id": "f3b204a8.28e8c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "a092e711.286208",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "66991e30.57a4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "840851ba.b320c",
        "type": "modbus-client",
        "z": "",
        "name": "modbusGateway",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "192.168.1.12",
        "tcpPort": "502",
        "tcpType": "TPC-RTU-BUFFERED",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectTimeout": "2000"
    },
    {
        "id": "9e6f9654.f0a1b8",
        "type": "firebase config",
        "z": "",
        "firebaseurl": "wpm2019-403f9",
        "loginType": "none"
    },
    {
        "id": "a068fec0.cb3bc",
        "type": "mqtt-broker",
        "z": "",
        "name": "symp",
        "broker": "m10.cloudmqtt.com",
        "port": "17606",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b5e36f07.e197e",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "req_all",
        "topic": "req/aloft/rm100",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 70,
        "y": 380,
        "wires": [
            [
                "c6b53e36.e74c5",
                "66a41346.d8bc9c"
            ]
        ]
    },
    {
        "id": "c6b53e36.e74c5",
        "type": "modbus-getter",
        "z": "f3b204a8.28e8c8",
        "name": "all",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "118",
        "server": "840851ba.b320c",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "93d9bc03.c019"
            ],
            []
        ]
    },
    {
        "id": "302c5164.9dfb3e",
        "type": "mqtt out",
        "z": "f3b204a8.28e8c8",
        "name": "res",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "a068fec0.cb3bc",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "efd3b579.220358",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "op",
        "func": "msg.payload = msg.payload[108];\nmsg.topic = msg.topic +  \"op\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 60,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "8440f4ba.685c08",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "op",
        "topic": "aloft/rm100/op",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1060,
        "wires": [
            [
                "f2ac9775.1b2428"
            ]
        ]
    },
    {
        "id": "f2ac9775.1b2428",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "108",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1060,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c0b995f2.ea7b08",
        "type": "comment",
        "z": "f3b204a8.28e8c8",
        "name": "set",
        "info": "subscribe for topic \"Op\" with mqtt broker\nand write to modbus slave",
        "x": 110,
        "y": 1020,
        "wires": []
    },
    {
        "id": "a1023b73.7383e8",
        "type": "comment",
        "z": "f3b204a8.28e8c8",
        "name": "get",
        "info": "subscribe for topic \"request current setting\" with \nmqtt broker, read data from modbus slave\nand publish to mqtt subscriber",
        "x": 70,
        "y": 340,
        "wires": []
    },
    {
        "id": "2e2082cf.158e7e",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "c",
        "func": "msg.payload = msg.payload[47];\nmsg.topic = msg.topic + \"c\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "789d25f6.a9cfbc",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "c",
        "topic": "aloft/rm100/c",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1120,
        "wires": [
            [
                "ad960fd0.ae5f9"
            ]
        ]
    },
    {
        "id": "ad960fd0.ae5f9",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "47",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c70d7d69.ba08a",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "sh",
        "func": "msg.payload = msg.payload[109];\nmsg.topic = msg.topic +  \"sh\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "c3aa6853.5228b8",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "sh",
        "topic": "aloft/rm100/sh",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1180,
        "wires": [
            [
                "56d8352c.0a9cbc"
            ]
        ]
    },
    {
        "id": "56d8352c.0a9cbc",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "109",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "93d9bc03.c019",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "Location",
        "func": "msg.topic = \"res/aloft/rm100/\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "2e2082cf.158e7e",
                "efd3b579.220358",
                "c70d7d69.ba08a",
                "bab6e52.bb7f818",
                "27318a57.ff4fe6",
                "7c8f500f.aae8d",
                "e7d458eb.492928",
                "df781bc9.2bc868",
                "98ec3bfe.bfa138",
                "dc60b673.c98d78",
                "e18b3b3d.fa1c98",
                "3c1bd60f.e0e99a",
                "ef5ec87a.3b5568",
                "6235922f.9361cc",
                "c080e56c.f15028",
                "a20023ee.ed038",
                "35af54d5.3d7aac",
                "4d106231.e9c23c",
                "f6735cce.062c7",
                "3dc8337a.bcfb1c"
            ]
        ]
    },
    {
        "id": "bab6e52.bb7f818",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "fi",
        "func": "msg.payload = msg.payload[65];\nmsg.topic = msg.topic +  \"fi\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "27318a57.ff4fe6",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "ti",
        "func": "msg.payload = msg.payload[66];\nmsg.topic = msg.topic +  \"ti\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "7c8f500f.aae8d",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "fo",
        "func": "msg.payload = msg.payload[74];\nmsg.topic = msg.topic +  \"fo\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 260,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "e7d458eb.492928",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "to",
        "func": "msg.payload = msg.payload[75];\nmsg.topic = msg.topic +  \"to\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "df781bc9.2bc868",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "tu",
        "func": "msg.payload = msg.payload[57];\nmsg.topic = msg.topic +  \"tu\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "98ec3bfe.bfa138",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "td",
        "func": "msg.payload = msg.payload[58];\nmsg.topic = msg.topic +  \"td\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 380,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "dc60b673.c98d78",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "_o",
        "func": "msg.payload = msg.payload[110];\nmsg.topic = msg.topic +  \"_o\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 420,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "e18b3b3d.fa1c98",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "_c",
        "func": "msg.payload = msg.payload[111];\nmsg.topic = msg.topic +  \"_c\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 460,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "3c1bd60f.e0e99a",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "co",
        "func": "msg.payload = msg.payload[77];\nmsg.topic = msg.topic +  \"co\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 500,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "ef5ec87a.3b5568",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "li",
        "func": "msg.payload = msg.payload[112];\nmsg.topic = msg.topic +  \"li\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 580,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "6235922f.9361cc",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "en",
        "func": "msg.payload = msg.payload[113];\nmsg.topic = msg.topic +  \"en\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 620,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "c080e56c.f15028",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "hd",
        "func": "msg.payload = msg.payload[114];\nmsg.topic = msg.topic +  \"hd\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 660,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "a20023ee.ed038",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "hu",
        "func": "msg.payload = msg.payload[115];\nmsg.topic = msg.topic +  \"hu\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 700,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "35af54d5.3d7aac",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "h1",
        "func": "msg.payload = msg.payload[116];\nmsg.topic = msg.topic +  \"h1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 740,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "4d106231.e9c23c",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "h2",
        "func": "msg.payload = msg.payload[117];\nmsg.topic = msg.topic +  \"h2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 780,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "3ee85739.a3f298",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "fi",
        "topic": "aloft/rm100/fi",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1240,
        "wires": [
            [
                "f838c4e2.3178a8"
            ]
        ]
    },
    {
        "id": "f838c4e2.3178a8",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "65",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1240,
        "wires": [
            [
                "99229bf2.d5acc8"
            ],
            []
        ]
    },
    {
        "id": "a287f556.8481e8",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "ti",
        "topic": "aloft/rm100/ti",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1300,
        "wires": [
            [
                "6dd3b7f7.a6d738"
            ]
        ]
    },
    {
        "id": "6dd3b7f7.a6d738",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "66",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1300,
        "wires": [
            [
                "a39c575c.610758"
            ],
            []
        ]
    },
    {
        "id": "f3ba9f84.c267",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "fo",
        "topic": "aloft/rm100/fo",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1360,
        "wires": [
            [
                "e9e27875.e0da68"
            ]
        ]
    },
    {
        "id": "e9e27875.e0da68",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "74",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "278e5de9.5dd1a2",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "to",
        "topic": "aloft/rm100/to",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1420,
        "wires": [
            [
                "e094d313.9eabd"
            ]
        ]
    },
    {
        "id": "e094d313.9eabd",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "75",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4d11e67c.bbb158",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "tu",
        "topic": "aloft/rm100/tu",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "87d4debf.fd1a6"
            ]
        ]
    },
    {
        "id": "87d4debf.fd1a6",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "57",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "334ffb1a.be8e14",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "td",
        "topic": "aloft/rm100/td",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1540,
        "wires": [
            [
                "6bea07fe.630d78"
            ]
        ]
    },
    {
        "id": "6bea07fe.630d78",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "58",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "de892f97.62681",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "_o",
        "topic": "aloft/rm100/_o",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1600,
        "wires": [
            [
                "4b8003bf.f973ec"
            ]
        ]
    },
    {
        "id": "4b8003bf.f973ec",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "110",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "254930b2.d28e6",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "_c",
        "topic": "aloft/rm100/_c",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1660,
        "wires": [
            [
                "fb23aeac.baa74"
            ]
        ]
    },
    {
        "id": "fb23aeac.baa74",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "111",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1660,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1e4d7a94.92cac5",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "co",
        "topic": "aloft/rm100/co",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1720,
        "wires": [
            [
                "ae147ed7.3802c"
            ]
        ]
    },
    {
        "id": "ae147ed7.3802c",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "77",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1720,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ddfd7c48.ad502",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "_d",
        "topic": "aloft/rm100/_d",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1780,
        "wires": [
            [
                "8216c477.17c368"
            ]
        ]
    },
    {
        "id": "8216c477.17c368",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "78",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "748a6c49.7e9c64",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "li",
        "topic": "aloft/rm100/li",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1840,
        "wires": [
            [
                "d49b6847.4c3168"
            ]
        ]
    },
    {
        "id": "d49b6847.4c3168",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "112",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1840,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6428c75e.9b1fe8",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "en",
        "topic": "aloft/rm100/en",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1900,
        "wires": [
            [
                "fcd87483.5119d8"
            ]
        ]
    },
    {
        "id": "fcd87483.5119d8",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "113",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1900,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fa9991dc.aec1c",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "hd",
        "topic": "aloft/rm100/hd",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 1960,
        "wires": [
            [
                "cab803e.931c6"
            ]
        ]
    },
    {
        "id": "cab803e.931c6",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "114",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 1960,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4a09b808.f5d528",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "hu",
        "topic": "aloft/rm100/hu",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 2020,
        "wires": [
            [
                "3df8ce8d.9663b2"
            ]
        ]
    },
    {
        "id": "3df8ce8d.9663b2",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "115",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 2020,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b90f021a.afb31",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "h1",
        "topic": "aloft/rm100/h1",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 2080,
        "wires": [
            [
                "93b3acf9.2be29"
            ]
        ]
    },
    {
        "id": "93b3acf9.2be29",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "116",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 2080,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8f3fab3.d54b158",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "h2",
        "topic": "aloft/rm100/h2",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 2140,
        "wires": [
            [
                "32318abb.28f4f6"
            ]
        ]
    },
    {
        "id": "32318abb.28f4f6",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "117",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 250,
        "y": 2140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f6735cce.062c7",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "_d",
        "func": "msg.payload = msg.payload[78];\nmsg.topic = msg.topic +  \"_d\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 540,
        "wires": [
            [
                "302c5164.9dfb3e"
            ]
        ]
    },
    {
        "id": "3dc8337a.bcfb1c",
        "type": "debug",
        "z": "f3b204a8.28e8c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 330,
        "y": 280,
        "wires": []
    },
    {
        "id": "99229bf2.d5acc8",
        "type": "debug",
        "z": "f3b204a8.28e8c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a39c575c.610758",
        "type": "debug",
        "z": "f3b204a8.28e8c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 1300,
        "wires": []
    },
    {
        "id": "66a41346.d8bc9c",
        "type": "modbus-getter",
        "z": "f3b204a8.28e8c8",
        "name": "err",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "42",
        "server": "840851ba.b320c",
        "x": 230,
        "y": 880,
        "wires": [
            [
                "2577d60e.80e36a"
            ],
            []
        ]
    },
    {
        "id": "77cec030.107a1",
        "type": "debug",
        "z": "f3b204a8.28e8c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 880,
        "wires": []
    },
    {
        "id": "ac2a6a23.6f5c88",
        "type": "inject",
        "z": "f3b204a8.28e8c8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "c6b53e36.e74c5"
            ]
        ]
    },
    {
        "id": "2577d60e.80e36a",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "Location",
        "func": "msg.topic = \"res/aloft/rm100/\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 880,
        "wires": [
            [
                "b9c099af.726a08",
                "6d2eef3c.74257",
                "bae0cc2b.48ad9",
                "7704d421.7befac",
                "9ca6a886.29f8d8",
                "68295509.b584ac",
                "4d27c309.c9a98c",
                "171857d1.ad6a68"
            ]
        ]
    },
    {
        "id": "b9c099af.726a08",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "c33",
        "func": "msg.payload = msg.payload[32];\nmsg.topic = msg.topic +  \"c33\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 880,
        "wires": [
            [
                "77cec030.107a1",
                "cef24306.9df6e"
            ]
        ]
    },
    {
        "id": "6d2eef3c.74257",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "c34",
        "func": "msg.payload = msg.payload[33];\nmsg.topic = msg.topic +  \"c34\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 920,
        "wires": [
            [
                "cef24306.9df6e"
            ]
        ]
    },
    {
        "id": "bae0cc2b.48ad9",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "c35",
        "func": "msg.payload = msg.payload[34];\nmsg.topic = msg.topic +  \"c35\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 960,
        "wires": [
            [
                "cef24306.9df6e"
            ]
        ]
    },
    {
        "id": "7704d421.7befac",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "c36",
        "func": "msg.payload = msg.payload[35];\nmsg.topic = msg.topic +  \"c36\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1000,
        "wires": [
            [
                "cef24306.9df6e"
            ]
        ]
    },
    {
        "id": "9ca6a886.29f8d8",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "c37",
        "func": "msg.payload = msg.payload[36];\nmsg.topic = msg.topic +  \"c37\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1040,
        "wires": [
            [
                "cef24306.9df6e"
            ]
        ]
    },
    {
        "id": "68295509.b584ac",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "c21",
        "func": "msg.payload = msg.payload[20];\nmsg.topic = msg.topic +  \"c21\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1080,
        "wires": [
            [
                "cef24306.9df6e"
            ]
        ]
    },
    {
        "id": "4d27c309.c9a98c",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "c30",
        "func": "msg.payload = msg.payload[29];\nmsg.topic = msg.topic +  \"c30\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1120,
        "wires": [
            [
                "cef24306.9df6e"
            ]
        ]
    },
    {
        "id": "171857d1.ad6a68",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "c41",
        "func": "msg.payload = msg.payload[40];\nmsg.topic = msg.topic +  \"c41\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1160,
        "wires": [
            [
                "cef24306.9df6e"
            ]
        ]
    },
    {
        "id": "cef24306.9df6e",
        "type": "mqtt out",
        "z": "f3b204a8.28e8c8",
        "name": "res",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "a068fec0.cb3bc",
        "x": 750,
        "y": 980,
        "wires": []
    },
    {
        "id": "71fb0f81.5c3cf",
        "type": "mqtt in",
        "z": "f3b204a8.28e8c8",
        "name": "fd",
        "topic": "aloft/rm100/fd",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 110,
        "y": 2220,
        "wires": [
            [
                "892da72f.f30478"
            ]
        ]
    },
    {
        "id": "b431c645.d4b358",
        "type": "modbus-write",
        "z": "f3b204a8.28e8c8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "14",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 410,
        "y": 2220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "892da72f.f30478",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "fd",
        "func": "if(msg.payload == \"y\")\n{\n    msg.payload = true;\n}\nelse if(msg.payload == \"n\")\n{\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 2220,
        "wires": [
            [
                "b431c645.d4b358",
                "a2a77e72.d4676"
            ]
        ]
    },
    {
        "id": "a2a77e72.d4676",
        "type": "debug",
        "z": "f3b204a8.28e8c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 2160,
        "wires": []
    },
    {
        "id": "f80fee53.4fc23",
        "type": "inject",
        "z": "f3b204a8.28e8c8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 110,
        "y": 2300,
        "wires": [
            [
                "e41f80f5.3ad4d"
            ]
        ]
    },
    {
        "id": "c88f8258.58a6e",
        "type": "modbus-getter",
        "z": "f3b204a8.28e8c8",
        "name": "all",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "17",
        "quantity": "3",
        "server": "840851ba.b320c",
        "x": 310,
        "y": 2320,
        "wires": [
            [
                "acfce357.aaf21"
            ],
            []
        ]
    },
    {
        "id": "e41f80f5.3ad4d",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "rand",
        "func": "var fanspeed = Math.floor(Math.random() * 5);\nvar tempset = 35 - 20*Math.random();\nvar roomtemp = 35 - 20*Math.random();\nvar uts = msg.payload;\nflow.set(\"fanspeed\", fanspeed.toFixed(2));\nflow.set(\"tempset\", tempset.toFixed(2));\nflow.set(\"roomtemp\", roomtemp.toFixed(2));\nflow.set(\"uts\", uts);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 2280,
        "wires": [
            [
                "192c84b4.3be0ab",
                "fb48d177.d39ae",
                "9416a147.c84ef"
            ]
        ]
    },
    {
        "id": "acfce357.aaf21",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "set",
        "func": "var fanspeed = msg.payload[0];\nvar tempset = msg.payload[1];\nvar roomtemp = msg.payload[2];\n\nflow.set(\"fanspeed\", fanspeed);\nflow.set(\"tempset\", tempset);\nflow.set(\"roomtemp\", roomtemp);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 2340,
        "wires": [
            [
                "192c84b4.3be0ab",
                "fb48d177.d39ae",
                "9416a147.c84ef"
            ]
        ]
    },
    {
        "id": "b029ff03.43711",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "uts",
        "func": "var uts = msg.payload;\n\nflow.set(\"uts\", uts);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 2340,
        "wires": [
            [
                "f811fc0b.a906d"
            ]
        ]
    },
    {
        "id": "1c325caa.868763",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "get",
        "func": "var fanspeed = flow.get(\"fanspeed\");\nvar tempset = flow.get(\"tempset\");\nvar roomtemp = flow.get(\"roomtemp\");\nvar note = \"demo room\";\nvar uts = flow.get(\"uts\");\nmsg.payload = [fanspeed, tempset, roomtemp, note, uts];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 2480,
        "wires": [
            [
                "cf61c016.03b96"
            ]
        ]
    },
    {
        "id": "cf61c016.03b96",
        "type": "http request",
        "z": "f3b204a8.28e8c8",
        "name": "sheet",
        "method": "GET",
        "ret": "txt",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSfZZc9m5R3aJC4UXFQQtkhBplFhdrXn6XXsDiBJ_gm1hwKQhw/formResponse?usp=pp_url&entry.1535730519={{payload.0}}&entry.1403657736={{payload.1}}&entry.1919280745={{payload.2}}&entry.820882425={{payload.3}}&entry.1961666940={{payload.4}}",
        "tls": "",
        "x": 290,
        "y": 2440,
        "wires": [
            [
                "952878e7.a7d728"
            ]
        ]
    },
    {
        "id": "7a25d435.814a4c",
        "type": "firebase modify",
        "z": "f3b204a8.28e8c8",
        "name": "fanspeed",
        "firebaseconfig": "9e6f9654.f0a1b8",
        "childpath": "z0BTa3BYrfe7xi8QGzn5yiPaHll1/symp/demo/fanspeed",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 760,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "192c84b4.3be0ab",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "fanspeed",
        "func": "var data = flow.get(\"fanspeed\");\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 2320,
        "wires": [
            [
                "7a25d435.814a4c"
            ]
        ]
    },
    {
        "id": "fb48d177.d39ae",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "tempset",
        "func": "var data = flow.get(\"tempset\");\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 2380,
        "wires": [
            [
                "78a6be30.794c6"
            ]
        ]
    },
    {
        "id": "9416a147.c84ef",
        "type": "function",
        "z": "f3b204a8.28e8c8",
        "name": "roomtemp",
        "func": "var data = flow.get(\"roomtemp\");\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 2440,
        "wires": [
            [
                "e23bbe1d.3572a"
            ]
        ]
    },
    {
        "id": "78a6be30.794c6",
        "type": "firebase modify",
        "z": "f3b204a8.28e8c8",
        "name": "tempset",
        "firebaseconfig": "9e6f9654.f0a1b8",
        "childpath": "z0BTa3BYrfe7xi8QGzn5yiPaHll1/symp/demo/tempset",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 760,
        "y": 2380,
        "wires": [
            []
        ]
    },
    {
        "id": "e23bbe1d.3572a",
        "type": "firebase modify",
        "z": "f3b204a8.28e8c8",
        "name": "roomtemp",
        "firebaseconfig": "9e6f9654.f0a1b8",
        "childpath": "z0BTa3BYrfe7xi8QGzn5yiPaHll1/symp/demo/roomtemp",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 760,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "f811fc0b.a906d",
        "type": "delay",
        "z": "f3b204a8.28e8c8",
        "name": "storm protection",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "10",
        "randomLast": "100",
        "randomUnits": "milliseconds",
        "drop": false,
        "x": 240,
        "y": 2380,
        "wires": [
            [
                "c88f8258.58a6e"
            ]
        ]
    },
    {
        "id": "516ac05b.eae41",
        "type": "inject",
        "z": "f3b204a8.28e8c8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 110,
        "y": 2440,
        "wires": [
            [
                "1c325caa.868763"
            ]
        ]
    },
    {
        "id": "952878e7.a7d728",
        "type": "debug",
        "z": "f3b204a8.28e8c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 2480,
        "wires": []
    },
    {
        "id": "d94dbdd1.a03a",
        "type": "modbus-getter",
        "z": "a092e711.286208",
        "name": "all",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40001",
        "quantity": "29",
        "server": "840851ba.b320c",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "d7714dc3.bb6ad",
                "717188d3.95a138"
            ],
            []
        ]
    },
    {
        "id": "d7714dc3.bb6ad",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Location",
        "func": "msg.topic = \"res/aloft/rm100/\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "4ba46df2.380ca4",
                "284f77a2.d01578",
                "64a6e697.c43188",
                "b01acfb7.46a1c",
                "8efa29eb.dc6f78",
                "779caa7c.7670b4",
                "dcfe3358.7d35e",
                "acd95799.c6a0a8",
                "e711796f.a09eb8",
                "d78303ab.84dcc",
                "2274189a.f57d38",
                "4c3dc8c3.0c5b68",
                "6355fc8.caceb04",
                "b4f43d09.d7c63",
                "9c313ff.d9b63c",
                "34ec1057.d9069",
                "c11e02a6.2f249",
                "51596c19.1937f4",
                "981b5523.c09cd8",
                "f66a3bbf.282d08",
                "e215152e.4c9598",
                "dd765a59.8bfd68",
                "10ba5f1d.04e851",
                "60281064.ff50e",
                "685f44de.6c7ebc",
                "19c9dd50.bea483",
                "6a20643.9c2cb9c"
            ]
        ]
    },
    {
        "id": "284f77a2.d01578",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Fanspeed",
        "func": "msg.payload = msg.payload[1];\nmsg.topic = msg.topic +  \"Fanspeed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "bda0f9db.819a08",
                "ef683a83.f01cf8"
            ]
        ]
    },
    {
        "id": "4ba46df2.380ca4",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Main_Board_ID",
        "func": "msg.payload = msg.payload[0];\nmsg.topic = msg.topic +  \"Main_Board_ID\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "bda0f9db.819a08",
                "ef683a83.f01cf8"
            ]
        ]
    },
    {
        "id": "64a6e697.c43188",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temp_setting",
        "func": "msg.payload = msg.payload[2];\nmsg.topic = msg.topic +  \"Temp_setting\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "bda0f9db.819a08",
                "ef683a83.f01cf8"
            ]
        ]
    },
    {
        "id": "b01acfb7.46a1c",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temp_read",
        "func": "msg.payload = msg.payload[3];\nmsg.topic = msg.topic +  \"Temp_read\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "8efa29eb.dc6f78",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temp_read_point",
        "func": "msg.payload = msg.payload[4];\nmsg.topic = msg.topic +  \"Temp_read_point\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "779caa7c.7670b4",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Humidity_read",
        "func": "msg.payload = msg.payload[5];\nmsg.topic = msg.topic +  \"Humidity_read\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "dcfe3358.7d35e",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Humidity_read_point",
        "func": "msg.payload = msg.payload[6];\nmsg.topic = msg.topic +  \"Humidity_read_point\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "acd95799.c6a0a8",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temperature_conpensate",
        "func": "msg.payload = msg.payload[9];\nmsg.topic = msg.topic +  \"Temperature_conpensate\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "e711796f.a09eb8",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Fanspeed_insert_card",
        "func": "msg.payload = msg.payload[10];\nmsg.topic = msg.topic +  \"Fanspeed_insert_card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "d78303ab.84dcc",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temperature_insert_card",
        "func": "msg.payload = msg.payload[11];\nmsg.topic = msg.topic +  \"Temperature_insert_card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "2274189a.f57d38",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Fan_speed_remove_card",
        "func": "msg.payload = msg.payload[12];\nmsg.topic = msg.topic +  \"Fan_speed_remove_card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "4c3dc8c3.0c5b68",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temperature_remove_card",
        "func": "msg.payload = msg.payload[13];\nmsg.topic = msg.topic +  \"Temperature_remove_card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "6355fc8.caceb04",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temperature_set_max",
        "func": "msg.payload = msg.payload[14];\nmsg.topic = msg.topic +  \"Temperature_set_max\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 600,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "b4f43d09.d7c63",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temperature_set_min",
        "func": "msg.payload = msg.payload[15];\nmsg.topic = msg.topic +  \"Temperature_set_min\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 640,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "9c313ff.d9b63c",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Timer_fan_turn_on",
        "func": "msg.payload = msg.payload[16];\nmsg.topic = msg.topic +  \"Timer_fan_turn_on\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 680,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "34ec1057.d9069",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Timer_fan_turn_off",
        "func": "msg.payload = msg.payload[17];\nmsg.topic = msg.topic +  \"Timer_fan_turn_off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "c11e02a6.2f249",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Card_delay_removed",
        "func": "msg.payload = msg.payload[18];\nmsg.topic = msg.topic +  \"Card_delay_removed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 760,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "51596c19.1937f4",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Option_out",
        "func": "msg.payload = msg.payload[19];\nmsg.topic = msg.topic +  \"Option_out\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 800,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "981b5523.c09cd8",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Show_display",
        "func": "msg.payload = msg.payload[20];\nmsg.topic = msg.topic +  \"Show_display\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 840,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "f66a3bbf.282d08",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Motion_time_checking",
        "func": "msg.payload = msg.payload[21];\nmsg.topic = msg.topic +  \"Motion_time_checking\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 880,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "e215152e.4c9598",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temperature_limit",
        "func": "msg.payload = msg.payload[22];\nmsg.topic = msg.topic +  \"Temperature_limit\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 920,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "dd765a59.8bfd68",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Timer_for_entry_door",
        "func": "msg.payload = msg.payload[23];\nmsg.topic = msg.topic +  \"Timer_for_entry_door\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 960,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "10ba5f1d.04e851",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Humidity_min",
        "func": "msg.payload = msg.payload[24];\nmsg.topic = msg.topic +  \"Humidity_min\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "60281064.ff50e",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Humidity_max",
        "func": "msg.payload = msg.payload[25];\nmsg.topic = msg.topic +  \"Humidity_max\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 1040,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "685f44de.6c7ebc",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Function_humidity_min",
        "func": "msg.payload = msg.payload[26];\nmsg.topic = msg.topic +  \"Function_humidity_min\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1080,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "19c9dd50.bea483",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Function_humidity_max",
        "func": "msg.payload = msg.payload[27];\nmsg.topic = msg.topic +  \"Function_humidity_max\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1120,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "6a20643.9c2cb9c",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Humidity_compensate",
        "func": "msg.payload = msg.payload[28];\nmsg.topic = msg.topic +  \"Humidity_compensate\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 1160,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "bda0f9db.819a08",
        "type": "mqtt out",
        "z": "a092e711.286208",
        "name": "res",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "a068fec0.cb3bc",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "ef683a83.f01cf8",
        "type": "debug",
        "z": "a092e711.286208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "717188d3.95a138",
        "type": "modbus-getter",
        "z": "a092e711.286208",
        "name": "err",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "20",
        "server": "840851ba.b320c",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "d1885031.c4abc"
            ],
            []
        ]
    },
    {
        "id": "d1885031.c4abc",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Location",
        "func": "msg.topic = \"res/aloft/rm100/\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 1740,
        "wires": [
            [
                "27095513.6a5e6a",
                "e7e6b49c.394c98",
                "ff7ebb3.d73c648",
                "2d29524f.44771e",
                "518fd490.a0e65c",
                "55c0b501.8b44ec",
                "cfdab3.d0ab755",
                "e2215eeb.7e92a",
                "421f644a.2bed6c",
                "7be5e4be.d556cc",
                "7289e517.71a30c",
                "a6ad2937.b273b8",
                "1989c80c.43aed8",
                "f7e62a23.756f18",
                "16e0e688.715019",
                "1702131e.d6f5cd",
                "bc3233b7.a402a",
                "46b0ed11.7b39b4",
                "26dd1a19.fac226",
                "af86ccda.a56e3"
            ]
        ]
    },
    {
        "id": "27095513.6a5e6a",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay1",
        "func": "msg.payload = msg.payload[0];\nmsg.topic = msg.topic +  \"Relay1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1340,
        "wires": [
            [
                "f46b47e9.3e8018",
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "f46b47e9.3e8018",
        "type": "debug",
        "z": "a092e711.286208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 1280,
        "wires": []
    },
    {
        "id": "e7e6b49c.394c98",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay2",
        "func": "msg.payload = msg.payload[1];\nmsg.topic = msg.topic +  \"Relay2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1380,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "ff7ebb3.d73c648",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay3",
        "func": "msg.payload = msg.payload[2];\nmsg.topic = msg.topic +  \"Relay3\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1420,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "2d29524f.44771e",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay4",
        "func": "msg.payload = msg.payload[3];\nmsg.topic = msg.topic +  \"Relay4\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1460,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "518fd490.a0e65c",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay5",
        "func": "msg.payload = msg.payload[4];\nmsg.topic = msg.topic +  \"Relay5\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1500,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "55c0b501.8b44ec",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay6",
        "func": "msg.payload = msg.payload[5];\nmsg.topic = msg.topic +  \"Relay6\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1540,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "cfdab3.d0ab755",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay7",
        "func": "msg.payload = msg.payload[6];\nmsg.topic = msg.topic +  \"Relay7\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1580,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "e2215eeb.7e92a",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay8",
        "func": "msg.payload = msg.payload[7];\nmsg.topic = msg.topic +  \"Relay8\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1620,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "421f644a.2bed6c",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Key_Card",
        "func": "msg.payload = msg.payload[8];\nmsg.topic = msg.topic +  \"Key_Card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1660,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "7be5e4be.d556cc",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Magnetic_door",
        "func": "msg.payload = msg.payload[9];\nmsg.topic = msg.topic +  \"Magnetic_door\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1700,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "7289e517.71a30c",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Motion1",
        "func": "msg.payload = msg.payload[10];\nmsg.topic = msg.topic +  \"Motion1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1740,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "a6ad2937.b273b8",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Motion2",
        "func": "msg.payload = msg.payload[11];\nmsg.topic = msg.topic +  \"Motion2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1780,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "1989c80c.43aed8",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Motion3",
        "func": "msg.payload = msg.payload[12];\nmsg.topic = msg.topic +  \"Motion3\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1820,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "f7e62a23.756f18",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Motion4",
        "func": "msg.payload = msg.payload[13];\nmsg.topic = msg.topic +  \"Motion4\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1860,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "16e0e688.715019",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Motion5",
        "func": "msg.payload = msg.payload[14];\nmsg.topic = msg.topic +  \"Motion5\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1900,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "1702131e.d6f5cd",
        "type": "function",
        "z": "a092e711.286208",
        "name": "RCU_Status",
        "func": "msg.payload = msg.payload[15];\nmsg.topic = msg.topic +  \"RCU_Status\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 1940,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "bc3233b7.a402a",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Welcome_mode",
        "func": "msg.payload = msg.payload[16];\nmsg.topic = msg.topic +  \"Welcome_mode\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1980,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "46b0ed11.7b39b4",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Active_mode",
        "func": "msg.payload = msg.payload[17];\nmsg.topic = msg.topic +  \"Active_mode\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 2020,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "26dd1a19.fac226",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Work_mode",
        "func": "msg.payload = msg.payload[18];\nmsg.topic = msg.topic +  \"Work_mode\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 2060,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "af86ccda.a56e3",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Off_mode",
        "func": "msg.payload = msg.payload[19];\nmsg.topic = msg.topic +  \"Off_mode\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 2100,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "91858f48.5f0a4",
        "type": "inject",
        "z": "a092e711.286208",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "d94dbdd1.a03a"
            ]
        ]
    },
    {
        "id": "b3b23e59.e1e63",
        "type": "mqtt out",
        "z": "a092e711.286208",
        "name": "res",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "a068fec0.cb3bc",
        "x": 750,
        "y": 1700,
        "wires": []
    },
    {
        "id": "2ec7ed3b.85eca2",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Main_Board_ID",
        "topic": "aloft/rm100/Main_Board_ID",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 140,
        "y": 2180,
        "wires": [
            [
                "a0a16abe.61f2b8",
                "b2d72000.3af5"
            ]
        ]
    },
    {
        "id": "a0a16abe.61f2b8",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40001",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "27b58e86.907532",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Fanspeed",
        "topic": "aloft/rm100/Fanspeed",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 120,
        "y": 2220,
        "wires": [
            [
                "cc837b08.dcdc58"
            ]
        ]
    },
    {
        "id": "cc837b08.dcdc58",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40002",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1c3daec2.6840b1",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40003",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8ef7639.66beda",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temp_setting",
        "topic": "aloft/rm100/Temp_setting",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 130,
        "y": 2260,
        "wires": [
            [
                "1c3daec2.6840b1"
            ]
        ]
    },
    {
        "id": "7beba0a5.4f456",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40004",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d601a970.5109c8",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temp_read",
        "topic": "aloft/rm100/Temp_read",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 120,
        "y": 2300,
        "wires": [
            [
                "7beba0a5.4f456"
            ]
        ]
    },
    {
        "id": "6e834359.97465c",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40005",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2b846c56.66ea64",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temp_read_point",
        "topic": "aloft/rm100/Temp_read_point",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 140,
        "y": 2340,
        "wires": [
            [
                "6e834359.97465c"
            ]
        ]
    },
    {
        "id": "10e36daa.f33df2",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40006",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "575ae141.fa323",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Humidity_read",
        "topic": "aloft/rm100/Humidity_read",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 130,
        "y": 2380,
        "wires": [
            [
                "10e36daa.f33df2"
            ]
        ]
    },
    {
        "id": "24ac7a68.c944a6",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40007",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "822bc2ee.7a447",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Humidity_read_point",
        "topic": "aloft/rm100/Humidity_read_point",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 150,
        "y": 2420,
        "wires": [
            [
                "24ac7a68.c944a6"
            ]
        ]
    },
    {
        "id": "e860c912.8b22f8",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40010",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ea078ea1.c6203",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_conpensate",
        "topic": "aloft/rm100/Temperature_conpensate",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 170,
        "y": 2460,
        "wires": [
            [
                "e860c912.8b22f8"
            ]
        ]
    },
    {
        "id": "d38d8ba9.647b98",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Fanspeed_insert_card",
        "topic": "aloft/rm100/Fanspeed_insert_card",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 2500,
        "wires": [
            [
                "a1bcf96c.442d78"
            ]
        ]
    },
    {
        "id": "a1bcf96c.442d78",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40011",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7b540ae.cc218f4",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40012",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2f46b025.186ec",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_insert_card",
        "topic": "aloft/rm100/Temperature_insert_card",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 170,
        "y": 2540,
        "wires": [
            [
                "7b540ae.cc218f4"
            ]
        ]
    },
    {
        "id": "3a913d15.5875a2",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Fan_speed_remove_card",
        "topic": "aloft/rm100/Fan_speed_remove_card",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 170,
        "y": 2580,
        "wires": [
            [
                "9910731d.e799c"
            ]
        ]
    },
    {
        "id": "9910731d.e799c",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40012",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "21c283eb.b06bcc",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_remove_card",
        "topic": "aloft/rm100/Temperature_remove_card",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 170,
        "y": 2620,
        "wires": [
            [
                "13cb28a0.0e4467"
            ]
        ]
    },
    {
        "id": "13cb28a0.0e4467",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40013",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "be3abcf4.00353",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_remove_card",
        "topic": "aloft/rm100/Temperature_remove_card",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 170,
        "y": 2660,
        "wires": [
            [
                "6aa8f96d.d4fc68"
            ]
        ]
    },
    {
        "id": "6aa8f96d.d4fc68",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40014",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2660,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5ec6de8e.25e7",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_set_max",
        "topic": "aloft/rm100/Temperature_set_max",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 2700,
        "wires": [
            [
                "ecae7075.b6f8"
            ]
        ]
    },
    {
        "id": "ecae7075.b6f8",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40015",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cf4d7fa3.618af",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40016",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "220ce9b8.8b6986",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_set_min",
        "topic": "aloft/rm100/Temperature_set_min",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 2740,
        "wires": [
            [
                "cf4d7fa3.618af"
            ]
        ]
    },
    {
        "id": "d9b1426b.31a39",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40017",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "766c26ec.5391a8",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Timer_fan_turn_on",
        "topic": "aloft/rm100/Timer_fan_turn_on",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 150,
        "y": 2780,
        "wires": [
            [
                "d9b1426b.31a39"
            ]
        ]
    },
    {
        "id": "ed0d1fea.12327",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40018",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2820,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "294f35e0.2dfaaa",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Timer_fan_turn_off",
        "topic": "aloft/rm100/Timer_fan_turn_off",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 150,
        "y": 2820,
        "wires": [
            [
                "ed0d1fea.12327"
            ]
        ]
    },
    {
        "id": "c36130c6.260b2",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Card_delay_removed",
        "topic": "aloft/rm100/Card_delay_removed",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 2860,
        "wires": [
            [
                "877754f4.86b9d8"
            ]
        ]
    },
    {
        "id": "877754f4.86b9d8",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40019",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2860,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cd7e34c6.145378",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40020",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2900,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7c0e4dac.221ee4",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Option_out",
        "topic": "aloft/rm100/Option_out",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 120,
        "y": 2900,
        "wires": [
            [
                "cd7e34c6.145378"
            ]
        ]
    },
    {
        "id": "e1118135.256f1",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Show_display",
        "topic": "aloft/rm100/Show_display",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 130,
        "y": 2940,
        "wires": [
            [
                "f8e8d9b1.627728"
            ]
        ]
    },
    {
        "id": "f8e8d9b1.627728",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40021",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2940,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "70ff01bf.16271",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40022",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2980,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f6577f85.7a47e",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Motion_time_checking",
        "topic": "aloft/rm100/Motion_time_checking",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 2980,
        "wires": [
            [
                "70ff01bf.16271"
            ]
        ]
    },
    {
        "id": "3fb40e3f.b8ed22",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40023",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3020,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d41596dc.5d7ea8",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_limit",
        "topic": "aloft/rm100/Temperature_limit",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 150,
        "y": 3020,
        "wires": [
            [
                "3fb40e3f.b8ed22"
            ]
        ]
    },
    {
        "id": "c9e0d27d.248fa",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40024",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3060,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2343c5f6.b3702a",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Timer_for_entry_door",
        "topic": "aloft/rm100/Timer_for_entry_door",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 3060,
        "wires": [
            [
                "c9e0d27d.248fa"
            ]
        ]
    },
    {
        "id": "558d8ebf.ad0b2",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40025",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "71a84da.e4551b4",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Humidity_min",
        "topic": "aloft/rm100/Humidity_min",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 130,
        "y": 3100,
        "wires": [
            [
                "558d8ebf.ad0b2"
            ]
        ]
    },
    {
        "id": "2be565b2.632eba",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40026",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c1ab1574.ed6268",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Humidity_max",
        "topic": "aloft/rm100/Humidity_max",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 130,
        "y": 3140,
        "wires": [
            [
                "2be565b2.632eba"
            ]
        ]
    },
    {
        "id": "389751d0.acab0e",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40027",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "dc938b18.cc1c48",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Function_humidity_min",
        "topic": "aloft/rm100/Function_humidity_min",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 3180,
        "wires": [
            [
                "389751d0.acab0e"
            ]
        ]
    },
    {
        "id": "a8f86427.f18518",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40028",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5306ea2.1784614",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Function_humidity_max",
        "topic": "aloft/rm100/Function_humidity_max",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 3220,
        "wires": [
            [
                "a8f86427.f18518"
            ]
        ]
    },
    {
        "id": "a895972.8862a68",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40029",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "acd9e53.5c94618",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Humidity_compensate",
        "topic": "aloft/rm100/Humidity_compensate",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 3260,
        "wires": [
            [
                "a895972.8862a68"
            ]
        ]
    },
    {
        "id": "c363bac4.684c68",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "",
        "topic": "req/aloft/rm100",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 80,
        "y": 480,
        "wires": [
            [
                "d94dbdd1.a03a",
                "7a4ddc0f.9bf2e4"
            ]
        ]
    },
    {
        "id": "b2d72000.3af5",
        "type": "debug",
        "z": "a092e711.286208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 360,
        "y": 2140,
        "wires": []
    },
    {
        "id": "7a4ddc0f.9bf2e4",
        "type": "debug",
        "z": "a092e711.286208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 280,
        "y": 500,
        "wires": []
    },
    {
        "id": "f7d82d5e.62f2b",
        "type": "http request",
        "z": "a092e711.286208",
        "name": "sheet",
        "method": "GET",
        "ret": "txt",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSfZZc9m5R3aJC4UXFQQtkhBplFhdrXn6XXsDiBJ_gm1hwKQhw/formResponse?usp=pp_url&entry.1535730519={{payload.0}}&entry.1403657736={{payload.1}}&entry.820882425={{payload.2}}&entry.1961666940={{payload.3}}",
        "tls": "",
        "x": 590,
        "y": 3420,
        "wires": [
            []
        ]
    },
    {
        "id": "7703d0b8.1578",
        "type": "function",
        "z": "a092e711.286208",
        "name": "get",
        "func": "var temp = flow.get(\"temp\");\nvar humidity = flow.get(\"humidity\");\nvar note = \"demo room\";\nvar uts = flow.get(\"uts\");\nmsg.payload = [temp, humidity, note, uts];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3440,
        "wires": [
            [
                "eb03eebb.2b812"
            ]
        ]
    },
    {
        "id": "e2bf5e9d.5f5d7",
        "type": "inject",
        "z": "a092e711.286208",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 110,
        "y": 3320,
        "wires": [
            [
                "2ead3637.7bddaa"
            ]
        ]
    },
    {
        "id": "eb03eebb.2b812",
        "type": "debug",
        "z": "a092e711.286208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 3360,
        "wires": []
    },
    {
        "id": "7639fcb6.7b5e64",
        "type": "modbus-getter",
        "z": "a092e711.286208",
        "name": "temp",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40004",
        "quantity": "3",
        "server": "840851ba.b320c",
        "x": 150,
        "y": 3440,
        "wires": [
            [
                "e578ec48.6428f"
            ],
            []
        ]
    },
    {
        "id": "e578ec48.6428f",
        "type": "function",
        "z": "a092e711.286208",
        "name": "set",
        "func": "var temp = msg.payload[0];\nvar humidity = msg.payload[2];\nflow.set(\"temp\", temp);\nflow.set(\"humidity\", humidity);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 3380,
        "wires": [
            [
                "7703d0b8.1578"
            ]
        ]
    },
    {
        "id": "2ead3637.7bddaa",
        "type": "function",
        "z": "a092e711.286208",
        "name": "uts",
        "func": "var uts = msg.payload;\nflow.set(\"uts\", uts);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 90,
        "y": 3380,
        "wires": [
            [
                "7639fcb6.7b5e64"
            ]
        ]
    }
]