flow_06062019_ver_phuket.json
[
    {
        "id": "a1548bc6.3dd2d8",
        "type": "tab",
        "label": "room1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "92d7ae5b.8bd3c",
        "type": "tab",
        "label": "testing",
        "disabled": true,
        "info": ""
    },
    {
        "id": "ec068c4b.b91b2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a277a04e.40c41",
        "type": "modbus-client",
        "z": "",
        "name": "modbusGateway",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "TPC-RTU-BUFFERED",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectTimeout": "2000"
    },
    {
        "id": "8a49b788.e72f78",
        "type": "firebase config",
        "z": "",
        "firebaseurl": "wpm2019-403f9",
        "loginType": "none"
    },
    {
        "id": "e172a4d.443c358",
        "type": "mqtt-broker",
        "z": "",
        "name": "symp",
        "broker": "m10.cloudmqtt.com",
        "port": "17606",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e2a13c85.c7165",
        "type": "modbus-getter",
        "z": "a1548bc6.3dd2d8",
        "name": "all",
        "showStatusActivities": false,
        "showErrors": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "29",
        "server": "a277a04e.40c41",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "99a2271c.997208"
            ],
            []
        ]
    },
    {
        "id": "99a2271c.997208",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Location",
        "func": "msg.topic = \"res/aloft/rm100/\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "d4d9e6f9.6d7898",
                "31dabc96.815a94",
                "195051f9.8da1ee",
                "68b67b4b.169e94",
                "43f49864.e11fd8",
                "421422d3.6b946c",
                "f4a535ea.967a38",
                "8b22a67b.9cb198",
                "fb0d4109.1acdb",
                "17b66e3.a7f8092",
                "85d056ff.c647f8",
                "31d8976b.b5f168",
                "284f8739.65e9b8",
                "8e06712f.94d5",
                "afdede13.7f172",
                "16374c70.c9afd4",
                "c17c0cf1.6a08e",
                "e7f99b3.5ae5d68",
                "72c8417c.249f3",
                "7a49cc0e.820b34",
                "c702239f.40534",
                "c197f4f9.f6f3f8",
                "652342c8.080a6c",
                "99dfc07b.3c684",
                "51e60f5a.e4016",
                "7c153768.dd2348",
                "511e12fa.895a3c",
                "bc7af6a6.1d8938"
            ]
        ]
    },
    {
        "id": "31dabc96.815a94",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Fanspeed",
        "func": "msg.payload = msg.payload[1];\nmsg.topic = msg.topic +  \"Fanspeed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "d4d9e6f9.6d7898",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Main_Board_ID",
        "func": "msg.payload = msg.payload[0];\nmsg.topic = msg.topic +  \"Main_Board_ID\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "195051f9.8da1ee",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Temp_setting",
        "func": "msg.payload = msg.payload[2];\nmsg.topic = msg.topic +  \"Temp_setting\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "68b67b4b.169e94",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Temp_read",
        "func": "msg.payload = msg.payload[3];\nmsg.topic = msg.topic +  \"Temp_read\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "43f49864.e11fd8",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Temp_read_point",
        "func": "msg.payload = msg.payload[4];\nmsg.topic = msg.topic +  \"Temp_read_point\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "421422d3.6b946c",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Humidity_read",
        "func": "msg.payload = msg.payload[5];\nmsg.topic = msg.topic +  \"Humidity_read\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "f4a535ea.967a38",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Humidity_read_point",
        "func": "msg.payload = msg.payload[6];\nmsg.topic = msg.topic +  \"Humidity_read_point\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "8b22a67b.9cb198",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Temperature_conpensate",
        "func": "msg.payload = msg.payload[9];\nmsg.topic = msg.topic +  \"Temperature_conpensate\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "fb0d4109.1acdb",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Fanspeed_insert_card",
        "func": "msg.payload = msg.payload[10];\nmsg.topic = msg.topic +  \"Fanspeed_insert_card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "17b66e3.a7f8092",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Temperature_insert_card",
        "func": "msg.payload = msg.payload[11];\nmsg.topic = msg.topic +  \"Temperature_insert_card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "85d056ff.c647f8",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Fan_speed_remove_card",
        "func": "msg.payload = msg.payload[12];\nmsg.topic = msg.topic +  \"Fan_speed_remove_card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "31d8976b.b5f168",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Temperature_remove_card",
        "func": "msg.payload = msg.payload[13];\nmsg.topic = msg.topic +  \"Temperature_remove_card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "284f8739.65e9b8",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Temperature_set_max",
        "func": "msg.payload = msg.payload[14];\nmsg.topic = msg.topic +  \"Temperature_set_max\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 600,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "8e06712f.94d5",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Temperature_set_min",
        "func": "msg.payload = msg.payload[15];\nmsg.topic = msg.topic +  \"Temperature_set_min\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 640,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "afdede13.7f172",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Timer_fan_turn_on",
        "func": "msg.payload = msg.payload[16];\nmsg.topic = msg.topic +  \"Timer_fan_turn_on\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 680,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "16374c70.c9afd4",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Timer_fan_turn_off",
        "func": "msg.payload = msg.payload[17];\nmsg.topic = msg.topic +  \"Timer_fan_turn_off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "c17c0cf1.6a08e",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Card_delay_removed",
        "func": "msg.payload = msg.payload[18];\nmsg.topic = msg.topic +  \"Card_delay_removed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 760,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "e7f99b3.5ae5d68",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Option_out",
        "func": "msg.payload = msg.payload[19];\nmsg.topic = msg.topic +  \"Option_out\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 800,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "72c8417c.249f3",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Show_display",
        "func": "msg.payload = msg.payload[20];\nmsg.topic = msg.topic +  \"Show_display\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 840,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "7a49cc0e.820b34",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Motion_time_checking",
        "func": "msg.payload = msg.payload[21];\nmsg.topic = msg.topic +  \"Motion_time_checking\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 880,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "c702239f.40534",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Temperature_limit",
        "func": "msg.payload = msg.payload[22];\nmsg.topic = msg.topic +  \"Temperature_limit\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 920,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "c197f4f9.f6f3f8",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Timer_for_entry_door",
        "func": "msg.payload = msg.payload[23];\nmsg.topic = msg.topic +  \"Timer_for_entry_door\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 960,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "652342c8.080a6c",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Humidity_min",
        "func": "msg.payload = msg.payload[24];\nmsg.topic = msg.topic +  \"Humidity_min\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "99dfc07b.3c684",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Humidity_max",
        "func": "msg.payload = msg.payload[25];\nmsg.topic = msg.topic +  \"Humidity_max\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 1040,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "51e60f5a.e4016",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Function_humidity_min",
        "func": "msg.payload = msg.payload[26];\nmsg.topic = msg.topic +  \"Function_humidity_min\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1080,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "7c153768.dd2348",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Function_humidity_max",
        "func": "msg.payload = msg.payload[27];\nmsg.topic = msg.topic +  \"Function_humidity_max\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1120,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "511e12fa.895a3c",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Humidity_compensate",
        "func": "msg.payload = msg.payload[28];\nmsg.topic = msg.topic +  \"Humidity_compensate\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 1160,
        "wires": [
            [
                "bf899125.45bab"
            ]
        ]
    },
    {
        "id": "bf899125.45bab",
        "type": "mqtt out",
        "z": "a1548bc6.3dd2d8",
        "name": "res",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "e172a4d.443c358",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "bc7af6a6.1d8938",
        "type": "debug",
        "z": "a1548bc6.3dd2d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "90efcd26.a8671",
        "type": "modbus-getter",
        "z": "a1548bc6.3dd2d8",
        "name": "err",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "20",
        "server": "a277a04e.40c41",
        "x": 110,
        "y": 1660,
        "wires": [
            [
                "17300678.33272a"
            ],
            []
        ]
    },
    {
        "id": "17300678.33272a",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Location",
        "func": "msg.topic = \"res/aloft/rm100/\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 1740,
        "wires": [
            [
                "a75ae641.638308",
                "6714abd0.f72db4",
                "2e0390c3.be6b7",
                "8051df93.0d2e2",
                "94310275.32035",
                "b9fc915b.7e90c",
                "6167f299.f386fc",
                "279c65fe.e7386a",
                "f7982162.cf92c",
                "7c8e3f59.9799b",
                "1705f139.104f2f",
                "3f9e54a8.ebbfbc",
                "2010a56.3375f5a",
                "810c3979.a5e658",
                "6add55d4.35715c",
                "435bbe0.c50f444",
                "a195f59f.58c3c8",
                "bba7423c.5315c",
                "ea0f85e0.906f58",
                "3ece32df.8eed9e"
            ]
        ]
    },
    {
        "id": "a75ae641.638308",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Relay1",
        "func": "msg.payload = msg.payload[0];\nmsg.topic = msg.topic +  \"Relay1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1340,
        "wires": [
            [
                "28612b30.eec504",
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "28612b30.eec504",
        "type": "debug",
        "z": "a1548bc6.3dd2d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 1320,
        "wires": []
    },
    {
        "id": "6714abd0.f72db4",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Relay2",
        "func": "msg.payload = msg.payload[1];\nmsg.topic = msg.topic +  \"Relay2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1380,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "2e0390c3.be6b7",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Relay3",
        "func": "msg.payload = msg.payload[2];\nmsg.topic = msg.topic +  \"Relay3\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1420,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "8051df93.0d2e2",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Relay4",
        "func": "msg.payload = msg.payload[3];\nmsg.topic = msg.topic +  \"Relay4\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1460,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "94310275.32035",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Relay5",
        "func": "msg.payload = msg.payload[4];\nmsg.topic = msg.topic +  \"Relay5\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1500,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "b9fc915b.7e90c",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Relay6",
        "func": "msg.payload = msg.payload[5];\nmsg.topic = msg.topic +  \"Relay6\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1540,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "6167f299.f386fc",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Relay7",
        "func": "msg.payload = msg.payload[6];\nmsg.topic = msg.topic +  \"Relay7\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1580,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "279c65fe.e7386a",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Relay8",
        "func": "msg.payload = msg.payload[7];\nmsg.topic = msg.topic +  \"Relay8\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1620,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "f7982162.cf92c",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Key_Card",
        "func": "msg.payload = msg.payload[8];\nmsg.topic = msg.topic +  \"Key_Card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1660,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "7c8e3f59.9799b",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Magnetic_door",
        "func": "msg.payload = msg.payload[9];\nmsg.topic = msg.topic +  \"Magnetic_door\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1700,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "1705f139.104f2f",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Motion1",
        "func": "msg.payload = msg.payload[10];\nmsg.topic = msg.topic +  \"Motion1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1740,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "3f9e54a8.ebbfbc",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Motion2",
        "func": "msg.payload = msg.payload[11];\nmsg.topic = msg.topic +  \"Motion2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1780,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "2010a56.3375f5a",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Motion3",
        "func": "msg.payload = msg.payload[12];\nmsg.topic = msg.topic +  \"Motion3\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1820,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "810c3979.a5e658",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Motion4",
        "func": "msg.payload = msg.payload[13];\nmsg.topic = msg.topic +  \"Motion4\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1860,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "6add55d4.35715c",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Motion5",
        "func": "msg.payload = msg.payload[14];\nmsg.topic = msg.topic +  \"Motion5\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1900,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "435bbe0.c50f444",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "RCU_Status",
        "func": "msg.payload = msg.payload[15];\nmsg.topic = msg.topic +  \"RCU_Status\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 1940,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "a195f59f.58c3c8",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Welcome_mode",
        "func": "msg.payload = msg.payload[16];\nmsg.topic = msg.topic +  \"Welcome_mode\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1980,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "bba7423c.5315c",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Active_mode",
        "func": "msg.payload = msg.payload[17];\nmsg.topic = msg.topic +  \"Active_mode\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 2020,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "ea0f85e0.906f58",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Work_mode",
        "func": "msg.payload = msg.payload[18];\nmsg.topic = msg.topic +  \"Work_mode\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 2060,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "3ece32df.8eed9e",
        "type": "function",
        "z": "a1548bc6.3dd2d8",
        "name": "Off_mode",
        "func": "msg.payload = msg.payload[19];\nmsg.topic = msg.topic +  \"Off_mode\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 2100,
        "wires": [
            [
                "b368915b.7f19a"
            ]
        ]
    },
    {
        "id": "203fedea.dc2182",
        "type": "inject",
        "z": "a1548bc6.3dd2d8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "e2a13c85.c7165"
            ]
        ]
    },
    {
        "id": "b368915b.7f19a",
        "type": "mqtt out",
        "z": "a1548bc6.3dd2d8",
        "name": "res",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "e172a4d.443c358",
        "x": 750,
        "y": 1700,
        "wires": []
    },
    {
        "id": "7f919bda.0dcc34",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Main_Board_ID",
        "topic": "aloft/rm100/Main_Board_ID",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 140,
        "y": 2180,
        "wires": [
            [
                "c45d8811.856c58",
                "d00fb530.618a88"
            ]
        ]
    },
    {
        "id": "c45d8811.856c58",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40001",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c5ee32fc.7f0b9",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Fanspeed",
        "topic": "aloft/rm100/Fanspeed",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 120,
        "y": 2220,
        "wires": [
            [
                "905fe524.485e58"
            ]
        ]
    },
    {
        "id": "905fe524.485e58",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40002",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6923202a.14986",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40003",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e4217756.65d6d8",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Temp_setting",
        "topic": "aloft/rm100/Temp_setting",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 130,
        "y": 2260,
        "wires": [
            [
                "6923202a.14986"
            ]
        ]
    },
    {
        "id": "952af09.982ae1",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40004",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b30a80bd.3f523",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Temp_read",
        "topic": "aloft/rm100/Temp_read",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 120,
        "y": 2300,
        "wires": [
            [
                "952af09.982ae1"
            ]
        ]
    },
    {
        "id": "35de1f1f.d6fd3",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40005",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "70a56ded.72bce4",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Temp_read_point",
        "topic": "aloft/rm100/Temp_read_point",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 140,
        "y": 2340,
        "wires": [
            [
                "35de1f1f.d6fd3"
            ]
        ]
    },
    {
        "id": "be8b75f8.21bfc8",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40006",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "35968df8.3c4f12",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Humidity_read",
        "topic": "aloft/rm100/Humidity_read",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 130,
        "y": 2380,
        "wires": [
            [
                "be8b75f8.21bfc8"
            ]
        ]
    },
    {
        "id": "4816db86.ceb524",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40007",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "967a4fd8.5dd49",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Humidity_read_point",
        "topic": "aloft/rm100/Humidity_read_point",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 150,
        "y": 2420,
        "wires": [
            [
                "4816db86.ceb524"
            ]
        ]
    },
    {
        "id": "7aea2349.92c5ec",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40010",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a32d3ce.3b5f2c",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Temperature_conpensate",
        "topic": "aloft/rm100/Temperature_conpensate",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 170,
        "y": 2460,
        "wires": [
            [
                "7aea2349.92c5ec"
            ]
        ]
    },
    {
        "id": "ea437935.4d2038",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Fanspeed_insert_card",
        "topic": "aloft/rm100/Fanspeed_insert_card",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 160,
        "y": 2500,
        "wires": [
            [
                "22817386.bed17c"
            ]
        ]
    },
    {
        "id": "22817386.bed17c",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40011",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e4202e59.e060d",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40012",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3001bfee.1100f",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Temperature_insert_card",
        "topic": "aloft/rm100/Temperature_insert_card",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 170,
        "y": 2540,
        "wires": [
            [
                "e4202e59.e060d"
            ]
        ]
    },
    {
        "id": "1df5e794.8a4288",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Fan_speed_remove_card",
        "topic": "aloft/rm100/Fan_speed_remove_card",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 170,
        "y": 2580,
        "wires": [
            [
                "d2e6cffe.521c2"
            ]
        ]
    },
    {
        "id": "d2e6cffe.521c2",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40012",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "69f7bf4e.5fe97",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Temperature_remove_card",
        "topic": "aloft/rm100/Temperature_remove_card",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 170,
        "y": 2620,
        "wires": [
            [
                "fdba36a.8540ec8"
            ]
        ]
    },
    {
        "id": "fdba36a.8540ec8",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40013",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "953e29e6.8ecf78",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Temperature_remove_card",
        "topic": "aloft/rm100/Temperature_remove_card",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 170,
        "y": 2660,
        "wires": [
            [
                "a4a27c7c.ead4c"
            ]
        ]
    },
    {
        "id": "a4a27c7c.ead4c",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40014",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2660,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "45a8a0e9.24328",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Temperature_set_max",
        "topic": "aloft/rm100/Temperature_set_max",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 160,
        "y": 2700,
        "wires": [
            [
                "ec1eae1a.3be58"
            ]
        ]
    },
    {
        "id": "ec1eae1a.3be58",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40015",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cbd1e4c5.03abb8",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40016",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ff879bb0.91fdd8",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Temperature_set_min",
        "topic": "aloft/rm100/Temperature_set_min",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 160,
        "y": 2740,
        "wires": [
            [
                "cbd1e4c5.03abb8"
            ]
        ]
    },
    {
        "id": "18697259.65c4fe",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40017",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3844a7c0.1c3698",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Timer_fan_turn_on",
        "topic": "aloft/rm100/Timer_fan_turn_on",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 150,
        "y": 2780,
        "wires": [
            [
                "18697259.65c4fe"
            ]
        ]
    },
    {
        "id": "100b8461.3c77ac",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40018",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2820,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1c8b046a.6bdc1c",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Timer_fan_turn_off",
        "topic": "aloft/rm100/Timer_fan_turn_off",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 150,
        "y": 2820,
        "wires": [
            [
                "100b8461.3c77ac"
            ]
        ]
    },
    {
        "id": "bca48760.8b5dc8",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Card_delay_removed",
        "topic": "aloft/rm100/Card_delay_removed",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 160,
        "y": 2860,
        "wires": [
            [
                "3342fd27.a71922"
            ]
        ]
    },
    {
        "id": "3342fd27.a71922",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40019",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2860,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3639e374.8983ac",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40020",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2900,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "82d3e90f.cf17e8",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Option_out",
        "topic": "aloft/rm100/Option_out",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 120,
        "y": 2900,
        "wires": [
            [
                "3639e374.8983ac"
            ]
        ]
    },
    {
        "id": "8e9acc75.529de",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Show_display",
        "topic": "aloft/rm100/Show_display",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 130,
        "y": 2940,
        "wires": [
            [
                "3e6ccc65.0d7164"
            ]
        ]
    },
    {
        "id": "3e6ccc65.0d7164",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40021",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2940,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "65af2bab.4d3864",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40022",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 2980,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5f9fbe09.5948b",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Motion_time_checking",
        "topic": "aloft/rm100/Motion_time_checking",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 160,
        "y": 2980,
        "wires": [
            [
                "65af2bab.4d3864"
            ]
        ]
    },
    {
        "id": "c16913f6.f1cda",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40023",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 3020,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "edff42e6.25416",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Temperature_limit",
        "topic": "aloft/rm100/Temperature_limit",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 150,
        "y": 3020,
        "wires": [
            [
                "c16913f6.f1cda"
            ]
        ]
    },
    {
        "id": "291f0c0b.e977c4",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40024",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 3060,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "399c43fb.bf428c",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Timer_for_entry_door",
        "topic": "aloft/rm100/Timer_for_entry_door",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 160,
        "y": 3060,
        "wires": [
            [
                "291f0c0b.e977c4"
            ]
        ]
    },
    {
        "id": "36c8444d.5f3f9c",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40025",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 3100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "37632071.36dda",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Humidity_min",
        "topic": "aloft/rm100/Humidity_min",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 130,
        "y": 3100,
        "wires": [
            [
                "36c8444d.5f3f9c"
            ]
        ]
    },
    {
        "id": "2f3e5a5d.fb3f16",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40026",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 3140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d3876197.e0a7d",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Humidity_max",
        "topic": "aloft/rm100/Humidity_max",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 130,
        "y": 3140,
        "wires": [
            [
                "2f3e5a5d.fb3f16"
            ]
        ]
    },
    {
        "id": "fc19e801.454158",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40027",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 3180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "555f40f6.2e5de",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Function_humidity_min",
        "topic": "aloft/rm100/Function_humidity_min",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 160,
        "y": 3180,
        "wires": [
            [
                "fc19e801.454158"
            ]
        ]
    },
    {
        "id": "425877d6.fabea8",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40028",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 3220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a7168b60.7c5918",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Function_humidity_max",
        "topic": "aloft/rm100/Function_humidity_max",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 160,
        "y": 3220,
        "wires": [
            [
                "425877d6.fabea8"
            ]
        ]
    },
    {
        "id": "7ebbed38.6c0a24",
        "type": "modbus-write",
        "z": "a1548bc6.3dd2d8",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40029",
        "quantity": "1",
        "server": "a277a04e.40c41",
        "x": 350,
        "y": 3260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f610c45f.858cb8",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "Humidity_compensate",
        "topic": "aloft/rm100/Humidity_compensate",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 160,
        "y": 3260,
        "wires": [
            [
                "7ebbed38.6c0a24"
            ]
        ]
    },
    {
        "id": "be07986d.9be338",
        "type": "mqtt in",
        "z": "a1548bc6.3dd2d8",
        "name": "",
        "topic": "req/aloft/rm100",
        "qos": "0",
        "broker": "e172a4d.443c358",
        "x": 80,
        "y": 480,
        "wires": [
            [
                "82870fd9.9ba45"
            ]
        ]
    },
    {
        "id": "d00fb530.618a88",
        "type": "debug",
        "z": "a1548bc6.3dd2d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 360,
        "y": 2140,
        "wires": []
    },
    {
        "id": "82870fd9.9ba45",
        "type": "debug",
        "z": "a1548bc6.3dd2d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 150,
        "y": 600,
        "wires": []
    },
    {
        "id": "1a85fe0c.ccfa72",
        "type": "inject",
        "z": "92d7ae5b.8bd3c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "a13dd8ec.373368"
            ]
        ]
    },
    {
        "id": "a13dd8ec.373368",
        "type": "modbus-getter",
        "z": "92d7ae5b.8bd3c",
        "name": "all",
        "showStatusActivities": false,
        "showErrors": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "29",
        "server": "a277a04e.40c41",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "789cfd86.d07024"
            ],
            []
        ]
    },
    {
        "id": "789cfd86.d07024",
        "type": "function",
        "z": "92d7ae5b.8bd3c",
        "name": "Location",
        "func": "msg.topic = \"res/aloft/rm100/\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "5a93a712.69d318"
            ]
        ]
    },
    {
        "id": "5a93a712.69d318",
        "type": "debug",
        "z": "92d7ae5b.8bd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "eb5089bb.813e28",
        "type": "http request",
        "z": "92d7ae5b.8bd3c",
        "name": "sheet",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSfZZc9m5R3aJC4UXFQQtkhBplFhdrXn6XXsDiBJ_gm1hwKQhw/formResponse?usp=pp_url&entry.1535730519={{payload.0}}&entry.1403657736={{payload.1}}&entry.820882425={{payload.2}}&entry.1961666940={{payload.3}}",
        "tls": "",
        "proxy": "",
        "x": 1410,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3d16528d.37ad3e",
        "type": "function",
        "z": "92d7ae5b.8bd3c",
        "name": "get",
        "func": "var temp = flow.get(\"temp\");\nvar humidity = flow.get(\"humidity\");\nvar note = \"demo room\";\nvar uts = flow.get(\"uts\");\nmsg.payload = [temp, humidity, note, uts];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 140,
        "wires": [
            [
                "bdc7aeb5.1963d"
            ]
        ]
    },
    {
        "id": "daba1a1a.1e99e8",
        "type": "inject",
        "z": "92d7ae5b.8bd3c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 930,
        "y": 20,
        "wires": [
            [
                "31cb7140.6044ce"
            ]
        ]
    },
    {
        "id": "bdc7aeb5.1963d",
        "type": "debug",
        "z": "92d7ae5b.8bd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 60,
        "wires": []
    },
    {
        "id": "6075020e.b0955c",
        "type": "modbus-getter",
        "z": "92d7ae5b.8bd3c",
        "name": "temp",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40004",
        "quantity": "3",
        "server": "a277a04e.40c41",
        "x": 970,
        "y": 140,
        "wires": [
            [
                "ce772c27.bd658"
            ],
            []
        ]
    },
    {
        "id": "ce772c27.bd658",
        "type": "function",
        "z": "92d7ae5b.8bd3c",
        "name": "set",
        "func": "var temp = msg.payload[0];\nvar humidity = msg.payload[2];\nflow.set(\"temp\", temp);\nflow.set(\"humidity\", humidity);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 80,
        "wires": [
            [
                "3d16528d.37ad3e"
            ]
        ]
    },
    {
        "id": "31cb7140.6044ce",
        "type": "function",
        "z": "92d7ae5b.8bd3c",
        "name": "uts",
        "func": "var uts = msg.payload;\nflow.set(\"uts\", uts);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 80,
        "wires": [
            [
                "6075020e.b0955c"
            ]
        ]
    }
]