phuket_old.json
[
    {
        "id": "d94dbdd1.a03a",
        "type": "modbus-getter",
        "z": "a092e711.286208",
        "name": "all",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "29",
        "server": "840851ba.b320c",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "d7714dc3.bb6ad",
                "717188d3.95a138"
            ],
            []
        ]
    },
    {
        "id": "d7714dc3.bb6ad",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Location",
        "func": "msg.topic = \"res/aloft/rm100/\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "4ba46df2.380ca4",
                "284f77a2.d01578",
                "64a6e697.c43188",
                "b01acfb7.46a1c",
                "8efa29eb.dc6f78",
                "779caa7c.7670b4",
                "dcfe3358.7d35e",
                "acd95799.c6a0a8",
                "e711796f.a09eb8",
                "d78303ab.84dcc",
                "2274189a.f57d38",
                "4c3dc8c3.0c5b68",
                "6355fc8.caceb04",
                "b4f43d09.d7c63",
                "9c313ff.d9b63c",
                "34ec1057.d9069",
                "c11e02a6.2f249",
                "51596c19.1937f4",
                "981b5523.c09cd8",
                "f66a3bbf.282d08",
                "e215152e.4c9598",
                "dd765a59.8bfd68",
                "10ba5f1d.04e851",
                "60281064.ff50e",
                "685f44de.6c7ebc",
                "19c9dd50.bea483",
                "6a20643.9c2cb9c"
            ]
        ]
    },
    {
        "id": "284f77a2.d01578",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Fanspeed",
        "func": "msg.payload = msg.payload[1];\nmsg.topic = msg.topic +  \"Fanspeed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "bda0f9db.819a08",
                "ef683a83.f01cf8"
            ]
        ]
    },
    {
        "id": "4ba46df2.380ca4",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Main_Board_ID",
        "func": "msg.payload = msg.payload[0];\nmsg.topic = msg.topic +  \"Main_Board_ID\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "bda0f9db.819a08",
                "ef683a83.f01cf8"
            ]
        ]
    },
    {
        "id": "64a6e697.c43188",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temp_setting",
        "func": "msg.payload = msg.payload[2];\nmsg.topic = msg.topic +  \"Temp_setting\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "bda0f9db.819a08",
                "ef683a83.f01cf8"
            ]
        ]
    },
    {
        "id": "b01acfb7.46a1c",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temp_read",
        "func": "msg.payload = msg.payload[3];\nmsg.topic = msg.topic +  \"Temp_read\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "8efa29eb.dc6f78",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temp_read_point",
        "func": "msg.payload = msg.payload[4];\nmsg.topic = msg.topic +  \"Temp_read_point\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "779caa7c.7670b4",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Humidity_read",
        "func": "msg.payload = msg.payload[5];\nmsg.topic = msg.topic +  \"Humidity_read\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "dcfe3358.7d35e",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Humidity_read_point",
        "func": "msg.payload = msg.payload[6];\nmsg.topic = msg.topic +  \"Humidity_read_point\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "acd95799.c6a0a8",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temperature_conpensate",
        "func": "msg.payload = msg.payload[9] - 5;\nmsg.topic = msg.topic +  \"Temperature_conpensate\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "e711796f.a09eb8",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Fanspeed_insert_card",
        "func": "msg.payload = msg.payload[10];\nmsg.topic = msg.topic +  \"Fanspeed_insert_card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "d78303ab.84dcc",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temperature_insert_card",
        "func": "msg.payload = msg.payload[11];\nmsg.topic = msg.topic +  \"Temperature_insert_card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "2274189a.f57d38",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Fan_speed_remove_card",
        "func": "msg.payload = msg.payload[12];\nmsg.topic = msg.topic +  \"Fan_speed_remove_card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "4c3dc8c3.0c5b68",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temperature_remove_card",
        "func": "msg.payload = msg.payload[13];\nmsg.topic = msg.topic +  \"Temperature_remove_card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "6355fc8.caceb04",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temperature_set_max",
        "func": "msg.payload = msg.payload[14];\nmsg.topic = msg.topic +  \"Temperature_set_max\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 600,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "b4f43d09.d7c63",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temperature_set_min",
        "func": "msg.payload = msg.payload[15];\nmsg.topic = msg.topic +  \"Temperature_set_min\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 640,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "9c313ff.d9b63c",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Timer_fan_turn_on",
        "func": "msg.payload = msg.payload[16];\nmsg.topic = msg.topic +  \"Timer_fan_turn_on\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 680,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "34ec1057.d9069",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Timer_fan_turn_off",
        "func": "msg.payload = msg.payload[17];\nmsg.topic = msg.topic +  \"Timer_fan_turn_off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "c11e02a6.2f249",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Card_delay_removed",
        "func": "msg.payload = msg.payload[18];\nmsg.topic = msg.topic +  \"Card_delay_removed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 760,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "51596c19.1937f4",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Option_out",
        "func": "msg.payload = msg.payload[19];\nmsg.topic = msg.topic +  \"Option_out\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 800,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "981b5523.c09cd8",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Show_display",
        "func": "msg.payload = msg.payload[20];\nmsg.topic = msg.topic +  \"Show_display\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 840,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "f66a3bbf.282d08",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Motion_time_checking",
        "func": "msg.payload = msg.payload[21];\nmsg.topic = msg.topic +  \"Motion_time_checking\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 880,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "e215152e.4c9598",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Temperature_limit",
        "func": "msg.payload = msg.payload[22];\nmsg.topic = msg.topic +  \"Temperature_limit\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 920,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "dd765a59.8bfd68",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Timer_for_entry_door",
        "func": "msg.payload = msg.payload[23];\nmsg.topic = msg.topic +  \"Timer_for_entry_door\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 960,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "10ba5f1d.04e851",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Humidity_min",
        "func": "msg.payload = msg.payload[24];\nmsg.topic = msg.topic +  \"Humidity_min\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "60281064.ff50e",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Humidity_max",
        "func": "msg.payload = msg.payload[25];\nmsg.topic = msg.topic +  \"Humidity_max\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 1040,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "685f44de.6c7ebc",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Function_humidity_min",
        "func": "msg.payload = msg.payload[26];\nmsg.topic = msg.topic +  \"Function_humidity_min\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1080,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "19c9dd50.bea483",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Function_humidity_max",
        "func": "msg.payload = msg.payload[27];\nmsg.topic = msg.topic +  \"Function_humidity_max\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1120,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "6a20643.9c2cb9c",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Humidity_compensate",
        "func": "msg.payload = msg.payload[28] - 20;\nmsg.topic = msg.topic +  \"Humidity_compensate\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 1160,
        "wires": [
            [
                "bda0f9db.819a08"
            ]
        ]
    },
    {
        "id": "bda0f9db.819a08",
        "type": "mqtt out",
        "z": "a092e711.286208",
        "name": "res",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "a068fec0.cb3bc",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "ef683a83.f01cf8",
        "type": "debug",
        "z": "a092e711.286208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "717188d3.95a138",
        "type": "modbus-getter",
        "z": "a092e711.286208",
        "name": "err",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "20",
        "server": "840851ba.b320c",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "d1885031.c4abc"
            ],
            []
        ]
    },
    {
        "id": "d1885031.c4abc",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Location",
        "func": "msg.topic = \"res/aloft/rm100/\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 1740,
        "wires": [
            [
                "27095513.6a5e6a",
                "e7e6b49c.394c98",
                "ff7ebb3.d73c648",
                "2d29524f.44771e",
                "518fd490.a0e65c",
                "55c0b501.8b44ec",
                "cfdab3.d0ab755",
                "e2215eeb.7e92a",
                "421f644a.2bed6c",
                "7be5e4be.d556cc",
                "7289e517.71a30c",
                "a6ad2937.b273b8",
                "1989c80c.43aed8",
                "f7e62a23.756f18",
                "16e0e688.715019",
                "1702131e.d6f5cd",
                "bc3233b7.a402a",
                "46b0ed11.7b39b4",
                "26dd1a19.fac226",
                "af86ccda.a56e3"
            ]
        ]
    },
    {
        "id": "27095513.6a5e6a",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay1",
        "func": "msg.payload = msg.payload[0];\nmsg.topic = msg.topic +  \"Relay1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1340,
        "wires": [
            [
                "f46b47e9.3e8018",
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "f46b47e9.3e8018",
        "type": "debug",
        "z": "a092e711.286208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 1280,
        "wires": []
    },
    {
        "id": "e7e6b49c.394c98",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay2",
        "func": "msg.payload = msg.payload[1];\nmsg.topic = msg.topic +  \"Relay2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1380,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "ff7ebb3.d73c648",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay3",
        "func": "msg.payload = msg.payload[2];\nmsg.topic = msg.topic +  \"Relay3\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1420,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "2d29524f.44771e",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay4",
        "func": "msg.payload = msg.payload[3];\nmsg.topic = msg.topic +  \"Relay4\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1460,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "518fd490.a0e65c",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay5",
        "func": "msg.payload = msg.payload[4];\nmsg.topic = msg.topic +  \"Relay5\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1500,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "55c0b501.8b44ec",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay6",
        "func": "msg.payload = msg.payload[5];\nmsg.topic = msg.topic +  \"Relay6\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1540,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "cfdab3.d0ab755",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay7",
        "func": "msg.payload = msg.payload[6];\nmsg.topic = msg.topic +  \"Relay7\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1580,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "e2215eeb.7e92a",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Relay8",
        "func": "msg.payload = msg.payload[7];\nmsg.topic = msg.topic +  \"Relay8\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1620,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "421f644a.2bed6c",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Key_Card",
        "func": "msg.payload = msg.payload[8];\nmsg.topic = msg.topic +  \"Key_Card\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1660,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "7be5e4be.d556cc",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Magnetic_door",
        "func": "msg.payload = msg.payload[9];\nmsg.topic = msg.topic +  \"Magnetic_door\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1700,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "7289e517.71a30c",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Motion1",
        "func": "msg.payload = msg.payload[10];\nmsg.topic = msg.topic +  \"Motion1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1740,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "a6ad2937.b273b8",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Motion2",
        "func": "msg.payload = msg.payload[11];\nmsg.topic = msg.topic +  \"Motion2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1780,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "1989c80c.43aed8",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Motion3",
        "func": "msg.payload = msg.payload[12];\nmsg.topic = msg.topic +  \"Motion3\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1820,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "f7e62a23.756f18",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Motion4",
        "func": "msg.payload = msg.payload[13];\nmsg.topic = msg.topic +  \"Motion4\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1860,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "16e0e688.715019",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Motion5",
        "func": "msg.payload = msg.payload[14];\nmsg.topic = msg.topic +  \"Motion5\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1900,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "1702131e.d6f5cd",
        "type": "function",
        "z": "a092e711.286208",
        "name": "RCU_Status",
        "func": "msg.payload = msg.payload[15];\nmsg.topic = msg.topic +  \"RCU_Status\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 1940,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "bc3233b7.a402a",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Welcome_mode",
        "func": "msg.payload = msg.payload[16];\nmsg.topic = msg.topic +  \"Welcome_mode\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1980,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "46b0ed11.7b39b4",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Active_mode",
        "func": "msg.payload = msg.payload[17];\nmsg.topic = msg.topic +  \"Active_mode\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 2020,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "26dd1a19.fac226",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Work_mode",
        "func": "msg.payload = msg.payload[18];\nmsg.topic = msg.topic +  \"Work_mode\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 2060,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "af86ccda.a56e3",
        "type": "function",
        "z": "a092e711.286208",
        "name": "Off_mode",
        "func": "msg.payload = msg.payload[19];\nmsg.topic = msg.topic +  \"Off_mode\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 2100,
        "wires": [
            [
                "b3b23e59.e1e63"
            ]
        ]
    },
    {
        "id": "91858f48.5f0a4",
        "type": "inject",
        "z": "a092e711.286208",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "d94dbdd1.a03a"
            ]
        ]
    },
    {
        "id": "b3b23e59.e1e63",
        "type": "mqtt out",
        "z": "a092e711.286208",
        "name": "res",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "a068fec0.cb3bc",
        "x": 750,
        "y": 1700,
        "wires": []
    },
    {
        "id": "2ec7ed3b.85eca2",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Main_Board_ID",
        "topic": "aloft/rm100/Main_Board_ID",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 140,
        "y": 2180,
        "wires": [
            [
                "a0a16abe.61f2b8",
                "b2d72000.3af5"
            ]
        ]
    },
    {
        "id": "a0a16abe.61f2b8",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "27b58e86.907532",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Fanspeed",
        "topic": "aloft/rm100/Fanspeed",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 120,
        "y": 2220,
        "wires": [
            [
                "cc837b08.dcdc58"
            ]
        ]
    },
    {
        "id": "cc837b08.dcdc58",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1c3daec2.6840b1",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "2",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8ef7639.66beda",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temp_setting",
        "topic": "aloft/rm100/Temp_setting",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 130,
        "y": 2260,
        "wires": [
            [
                "1c3daec2.6840b1"
            ]
        ]
    },
    {
        "id": "7beba0a5.4f456",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d601a970.5109c8",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temp_read",
        "topic": "aloft/rm100/Temp_read",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 120,
        "y": 2300,
        "wires": [
            [
                "7beba0a5.4f456"
            ]
        ]
    },
    {
        "id": "6e834359.97465c",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2b846c56.66ea64",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temp_read_point",
        "topic": "aloft/rm100/Temp_read_point",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 140,
        "y": 2340,
        "wires": [
            [
                "6e834359.97465c"
            ]
        ]
    },
    {
        "id": "10e36daa.f33df2",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "5",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "575ae141.fa323",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Humidity_read",
        "topic": "aloft/rm100/Humidity_read",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 130,
        "y": 2380,
        "wires": [
            [
                "10e36daa.f33df2"
            ]
        ]
    },
    {
        "id": "24ac7a68.c944a6",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "6",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "822bc2ee.7a447",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Humidity_read_point",
        "topic": "aloft/rm100/Humidity_read_point",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 150,
        "y": 2420,
        "wires": [
            [
                "24ac7a68.c944a6"
            ]
        ]
    },
    {
        "id": "e860c912.8b22f8",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "9",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ea078ea1.c6203",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_conpensate",
        "topic": "aloft/rm100/Temperature_conpensate",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 170,
        "y": 2460,
        "wires": [
            [
                "e860c912.8b22f8"
            ]
        ]
    },
    {
        "id": "d38d8ba9.647b98",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Fanspeed_insert_card",
        "topic": "aloft/rm100/Fanspeed_insert_card",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 2500,
        "wires": [
            [
                "a1bcf96c.442d78"
            ]
        ]
    },
    {
        "id": "a1bcf96c.442d78",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "10",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7b540ae.cc218f4",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "11",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2f46b025.186ec",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_insert_card",
        "topic": "aloft/rm100/Temperature_insert_card",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 170,
        "y": 2540,
        "wires": [
            [
                "7b540ae.cc218f4"
            ]
        ]
    },
    {
        "id": "3a913d15.5875a2",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Fan_speed_remove_card",
        "topic": "aloft/rm100/Fan_speed_remove_card",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 170,
        "y": 2580,
        "wires": [
            [
                "9910731d.e799c"
            ]
        ]
    },
    {
        "id": "9910731d.e799c",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "11",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "21c283eb.b06bcc",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_remove_card",
        "topic": "aloft/rm100/Temperature_remove_card",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 170,
        "y": 2620,
        "wires": [
            [
                "13cb28a0.0e4467"
            ]
        ]
    },
    {
        "id": "13cb28a0.0e4467",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "12",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "be3abcf4.00353",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_remove_card",
        "topic": "aloft/rm100/Temperature_remove_card",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 170,
        "y": 2660,
        "wires": [
            [
                "6aa8f96d.d4fc68"
            ]
        ]
    },
    {
        "id": "6aa8f96d.d4fc68",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "13",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2660,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5ec6de8e.25e7",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_set_max",
        "topic": "aloft/rm100/Temperature_set_max",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 2700,
        "wires": [
            [
                "ecae7075.b6f8"
            ]
        ]
    },
    {
        "id": "ecae7075.b6f8",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "14",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cf4d7fa3.618af",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "15",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "220ce9b8.8b6986",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_set_min",
        "topic": "aloft/rm100/Temperature_set_min",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 2740,
        "wires": [
            [
                "cf4d7fa3.618af"
            ]
        ]
    },
    {
        "id": "d9b1426b.31a39",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "16",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "766c26ec.5391a8",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Timer_fan_turn_on",
        "topic": "aloft/rm100/Timer_fan_turn_on",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 150,
        "y": 2780,
        "wires": [
            [
                "d9b1426b.31a39"
            ]
        ]
    },
    {
        "id": "ed0d1fea.12327",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "17",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2820,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "294f35e0.2dfaaa",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Timer_fan_turn_off",
        "topic": "aloft/rm100/Timer_fan_turn_off",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 150,
        "y": 2820,
        "wires": [
            [
                "ed0d1fea.12327"
            ]
        ]
    },
    {
        "id": "c36130c6.260b2",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Card_delay_removed",
        "topic": "aloft/rm100/Card_delay_removed",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 2860,
        "wires": [
            [
                "877754f4.86b9d8"
            ]
        ]
    },
    {
        "id": "877754f4.86b9d8",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2860,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cd7e34c6.145378",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "19",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2900,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7c0e4dac.221ee4",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Option_out",
        "topic": "aloft/rm100/Option_out",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 120,
        "y": 2900,
        "wires": [
            [
                "cd7e34c6.145378"
            ]
        ]
    },
    {
        "id": "e1118135.256f1",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Show_display",
        "topic": "aloft/rm100/Show_display",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 130,
        "y": 2940,
        "wires": [
            [
                "f8e8d9b1.627728"
            ]
        ]
    },
    {
        "id": "f8e8d9b1.627728",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "20",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2940,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "70ff01bf.16271",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "21",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 2980,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f6577f85.7a47e",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Motion_time_checking",
        "topic": "aloft/rm100/Motion_time_checking",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 2980,
        "wires": [
            [
                "70ff01bf.16271"
            ]
        ]
    },
    {
        "id": "3fb40e3f.b8ed22",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "22",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3020,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d41596dc.5d7ea8",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Temperature_limit",
        "topic": "aloft/rm100/Temperature_limit",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 150,
        "y": 3020,
        "wires": [
            [
                "3fb40e3f.b8ed22"
            ]
        ]
    },
    {
        "id": "c9e0d27d.248fa",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "23",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3060,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2343c5f6.b3702a",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Timer_for_entry_door",
        "topic": "aloft/rm100/Timer_for_entry_door",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 3060,
        "wires": [
            [
                "c9e0d27d.248fa"
            ]
        ]
    },
    {
        "id": "558d8ebf.ad0b2",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "24",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "71a84da.e4551b4",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Humidity_min",
        "topic": "aloft/rm100/Humidity_min",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 130,
        "y": 3100,
        "wires": [
            [
                "558d8ebf.ad0b2"
            ]
        ]
    },
    {
        "id": "2be565b2.632eba",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "25",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c1ab1574.ed6268",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Humidity_max",
        "topic": "aloft/rm100/Humidity_max",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 130,
        "y": 3140,
        "wires": [
            [
                "2be565b2.632eba"
            ]
        ]
    },
    {
        "id": "389751d0.acab0e",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "26",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "dc938b18.cc1c48",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Function_humidity_min",
        "topic": "aloft/rm100/Function_humidity_min",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 3180,
        "wires": [
            [
                "389751d0.acab0e"
            ]
        ]
    },
    {
        "id": "a8f86427.f18518",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "27",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5306ea2.1784614",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Function_humidity_max",
        "topic": "aloft/rm100/Function_humidity_max",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 3220,
        "wires": [
            [
                "a8f86427.f18518"
            ]
        ]
    },
    {
        "id": "a895972.8862a68",
        "type": "modbus-write",
        "z": "a092e711.286208",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "28",
        "quantity": "1",
        "server": "840851ba.b320c",
        "x": 350,
        "y": 3260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "acd9e53.5c94618",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "Humidity_compensate",
        "topic": "aloft/rm100/Humidity_compensate",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 160,
        "y": 3260,
        "wires": [
            [
                "a895972.8862a68"
            ]
        ]
    },
    {
        "id": "c363bac4.684c68",
        "type": "mqtt in",
        "z": "a092e711.286208",
        "name": "",
        "topic": "req/aloft/rm100",
        "qos": "0",
        "broker": "a068fec0.cb3bc",
        "x": 80,
        "y": 480,
        "wires": [
            [
                "d94dbdd1.a03a",
                "7a4ddc0f.9bf2e4"
            ]
        ]
    },
    {
        "id": "b2d72000.3af5",
        "type": "debug",
        "z": "a092e711.286208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 360,
        "y": 2140,
        "wires": []
    },
    {
        "id": "7a4ddc0f.9bf2e4",
        "type": "debug",
        "z": "a092e711.286208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 280,
        "y": 500,
        "wires": []
    },
    {
        "id": "f7d82d5e.62f2b",
        "type": "http request",
        "z": "a092e711.286208",
        "name": "sheet",
        "method": "GET",
        "ret": "txt",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSfZZc9m5R3aJC4UXFQQtkhBplFhdrXn6XXsDiBJ_gm1hwKQhw/formResponse?usp=pp_url&entry.1535730519={{payload.0}}&entry.1403657736={{payload.1}}&entry.820882425={{payload.2}}&entry.1961666940={{payload.3}}",
        "tls": "",
        "x": 510,
        "y": 3440,
        "wires": [
            []
        ]
    },
    {
        "id": "7703d0b8.1578",
        "type": "function",
        "z": "a092e711.286208",
        "name": "get",
        "func": "var temp = flow.get(\"temp\");\nvar humidity = flow.get(\"humidity\");\nvar note = \"demo room\";\nvar uts = flow.get(\"uts\");\nmsg.payload = [temp, humidity, note, uts];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3440,
        "wires": [
            [
                "eb03eebb.2b812",
                "f7d82d5e.62f2b"
            ]
        ]
    },
    {
        "id": "e2bf5e9d.5f5d7",
        "type": "inject",
        "z": "a092e711.286208",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 110,
        "y": 3320,
        "wires": [
            [
                "2ead3637.7bddaa"
            ]
        ]
    },
    {
        "id": "eb03eebb.2b812",
        "type": "debug",
        "z": "a092e711.286208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 3360,
        "wires": []
    },
    {
        "id": "7639fcb6.7b5e64",
        "type": "modbus-getter",
        "z": "a092e711.286208",
        "name": "temp",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40004",
        "quantity": "3",
        "server": "840851ba.b320c",
        "x": 150,
        "y": 3440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e578ec48.6428f",
        "type": "function",
        "z": "a092e711.286208",
        "name": "set",
        "func": "var temp;\nvar humidity;\n//temp = msg.payload[0];\n//humidity = msg.payload[2];\ntemp = (22 + 5*Math.random()).toFixed(2);\nhumidity = (60 + 20*Math.random()).toFixed(2);\nflow.set(\"temp\", temp);\nflow.set(\"humidity\", humidity);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 3380,
        "wires": [
            [
                "7703d0b8.1578"
            ]
        ]
    },
    {
        "id": "2ead3637.7bddaa",
        "type": "function",
        "z": "a092e711.286208",
        "name": "uts",
        "func": "var uts = msg.payload;\nflow.set(\"uts\", uts);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 90,
        "y": 3380,
        "wires": [
            [
                "e578ec48.6428f"
            ]
        ]
    },
    {
        "id": "840851ba.b320c",
        "type": "modbus-client",
        "z": "",
        "name": "modbusGateway",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "192.168.2.12",
        "tcpPort": "502",
        "tcpType": "TPC-RTU-BUFFERED",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectTimeout": "2000"
    },
    {
        "id": "a068fec0.cb3bc",
        "type": "mqtt-broker",
        "z": "",
        "name": "symp",
        "broker": "m10.cloudmqtt.com",
        "port": "17606",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]