wificonfigurationpage.json
[
    {
        "id": "7c20b041.7c936",
        "type": "ui_form",
        "z": "14405846.0cb368",
        "name": "",
        "label": "",
        "group": "eab66887.bb5ed8",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "SSID",
                "value": "ssid",
                "type": "text",
                "required": true
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true
            }
        ],
        "formValue": {
            "ssid": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "8d4d9245.3f72c"
            ]
        ]
    },
    {
        "id": "9a2c13e0.08b3d",
        "type": "debug",
        "z": "14405846.0cb368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "8d4d9245.3f72c",
        "type": "function",
        "z": "14405846.0cb368",
        "name": "configMsg",
        "func": "var ssid = msg.payload.ssid;\nvar password = msg.payload.password;\nmsg.payload = ssid + \"\\n\" + password;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 280,
        "wires": [
            [
                "9a2c13e0.08b3d",
                "b7b2aae.b68cf58",
                "1cd46a84.2ac505"
            ]
        ]
    },
    {
        "id": "b7b2aae.b68cf58",
        "type": "file",
        "z": "14405846.0cb368",
        "name": "",
        "filename": "/jffs2/wificonfig",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "8aae977.d5b6768"
            ]
        ]
    },
    {
        "id": "8aae977.d5b6768",
        "type": "exec",
        "z": "14405846.0cb368",
        "command": "/jffs2/connectWifi -r",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 820,
        "y": 220,
        "wires": [
            [
                "1cd46a84.2ac505"
            ],
            [],
            []
        ]
    },
    {
        "id": "1cd46a84.2ac505",
        "type": "ui_toast",
        "z": "14405846.0cb368",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "eab66887.bb5ed8",
        "type": "ui_group",
        "z": "",
        "name": "Wi-Fi configuration",
        "tab": "43bc6b7e.ece7f4",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "43bc6b7e.ece7f4",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]